@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body,
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

header {
  width: 100%;
  text-align: center;
  background-color: #777;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-card {
  margin: 1rem;
  width: 1200px;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user-cardv2 {
  height: 100%;
  width: 1200px;
  padding: 2rem;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  user-select: none;
  transition: all 0.2s ease-in-out;
  background: #fff;
}

.user-cardv2:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.user-card img {
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-card .user-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.container p {
  margin: 0;
  font-size: 18px;
}

/* Styles for the modal overlay */
.user-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

/* Styles for the modal content */
.user-modal-content {
  background: #fff;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
}

.user-modal-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-modal-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}

.user-modal-content p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

/* Close button for the modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}